<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAVER_CLIENT_SECRET</key>
	<string>Ls4nSVeZxB</string>
	<key>NAVER_CLIENT_ID</key>
	<string>H7ZKzZhUDtCIkrKH8UD4</string>
	<key>ODSAY_API_KEY</key>
	<string>FAHAJPNHYSvRiAXy/9Yniw</string>
</dict>
</plist>
